
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var data = ViewBag.type;
}
<head>
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Events Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
        SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />*@
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/plugins/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/plugins/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/plugins/css/font-awesome.css" rel="stylesheet">		<!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="~/plugins/js/jquery-2.2.3.min.js"></script>
    <script src="~/plugins/js/bootstrap.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div id="home" class="w3ls-banner">
        <!-- banner-text -->
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides callbacks callbacks1" id="slider4">
                    <li>
                        <div class="w3layouts-banner-top">

                            <div class="container">
                                <div class="agileits-banner-info">
                                    <h3>We Celebrate  <span>Birthday Parties</span></h3>
                                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                                    <div class="agileits_w3layouts_more menu__item">
                                        <a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="w3layouts-banner-top w3layouts-banner-top1">
                            <div class="container">
                                <div class="agileits-banner-info">
                                    <h3>We Celebrate  <span>Newyear Parties</span></h3>
                                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                                    <div class="agileits_w3layouts_more menu__item">
                                        <a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="w3layouts-banner-top w3layouts-banner-top2">
                            <div class="container">
                                <div class="agileits-banner-info">
                                    <h3>We Celebrate  <span>Marriage Functions</span></h3>
                                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                                    <div class="agileits_w3layouts_more menu__item">
                                        <a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Learn More</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>

            <!--banner Slider starts Here-->
        </div>


    </div>
    <!-- //banner -->
    <!-- ser_agile -->
    <div class="ser_agile">
        <div class="container">
            <h2 class="heading-agileinfo">Welcome<span>Events is a professionally managed Event</span></h2>
            <p>We wanted to create a company with the experience, skills and knowledge to help any event, no matter how large or how small, fulfill its ultimate potential. We can help fledgling events get off the ground and existing events soar. We’re flexible, fast, responsive and reliable. And we always bring a fresh perspective. No matter what stage of the planning you’re in, we’d welcome the opportunity to help you make your event the best it can be.</p>
            @foreach (var item in data)
            {
                <div class="ser_w3l">

                    <div class="outer-wrapper">

                        <div class="inner-wrapper">

                            @if (item.EventTypes == "Birthday")
                            {
                                <div class="icon-wrapper">
                                    <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                                </div>
                            }
                            @if (item.EventTypes == "Sangeet")
                            {
                                <div class="icon-wrapper">
                                    <i class="fa fa-headphones" aria-hidden="true"></i>
                                </div>
                            }
                            @if (item.EventTypes == "Wedding")
                            {
                                <div class="icon-wrapper">
                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                </div>
                            }
                            @if (item.EventTypes == "Photography")
                            {
                                <div class="icon-wrapper">
                                    <i class="fa fa-camera" aria-hidden="true"></i>
                                </div>
                            }
                            @if (item.EventTypes == "Catering")
                            {
                                <div class="icon-wrapper">
                                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                                </div>
                            }
                            @if (item.EventTypes == "Baby Shower")
                            {
                                <div class="icon-wrapper">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                </div>
                            }
                            <div class="content-wrapper">
                                <h4>@item.EventTypes</h4>
                                @if (item.EventTypes == "Birthday")
                                {
                                    <p>It has been another year of life for your or your loved one and that is certainly reason to party.</p>
                                }
                                @if (item.EventTypes == "Sangeet")
                                {
                                    <p>The Sangeet ceremony holds two or three days before the wedding, usually before the Mehndi ceremony.</p>
                                }
                                @if (item.EventTypes == "Wedding")
                                {
                                    <p>This wedding planning checklist will help you organize and make decisions without all the unnecessary stress.</p>
                                }
                                @if (item.EventTypes == "Photography")
                                {
                                    <p>Even though you’ll be interacting with people and saying, ‘Hey, do you mind if I get a photo?.</p>
                                }
                                @if (item.EventTypes == "Catering")
                                {
                                    <p>The planning of food and drink at an event is an important process,the events success can rise of fall on the catering.</p>
                                }
                                @if (item.EventTypes == "Baby Shower")
                                {
                                    <p>When it’s time to pamper the parents and baby, let guests know all the specifics with the best baby shower invitation wording for every kind of occasion.</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //ser_agile -->
    <!-- Stats -->
    <div class="stats-agileits">
        <div class="container">
            <h3 class="heading-agileinfo white-w3ls">We Have Something To Be Proud Of<span class="black-w3ls">Events is a professionally managed Event</span></h3>
        </div>
        <div class="stats-info agileits w3layouts">
            <div class="container">
                <div class="col-md-4 col-sm-4agileits w3layouts stats-grid stats-grid-1">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <div class="numscroller agileits-w3layouts" data-slno='1' data-min='0' data-max='2500' data-delay='3' data-increment="2">2500</div>
                    <div class="stat-info-w3ls">
                        <h4 class="agileits w3layouts">Happy Clients</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 agileits w3layouts stats-grid stats-grid-2">
                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                    <div class="numscroller agileits-w3layouts" data-slno='1' data-min='0' data-max='1000' data-delay='3' data-increment="2">1000</div>
                    <div class="stat-info-w3ls">
                        <h4 class="agileits w3layouts">Events</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 stats-grid agileits w3layouts stats-grid-3">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <div class="numscroller agileits-w3layouts" data-slno='1' data-min='0' data-max='3421' data-delay='3' data-increment="2">3421</div>
                    <div class="stat-info-w3ls">
                        <h4 class="agileits w3layouts">Services</h4>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //Stats -->
    <!-- showcase_w3layouts -->
    <div class="showcase_w3layouts">
        <div class="container">
            <h3 class="heading-agileinfo">Services<span>Events is a professionally managed Event</span></h3>
            <div class="our_agile-info">
                <div class="showcase">
                    <div class="thumbnail thumbnail--awesome">
                        <div class="thumbnail__overlay">

                        </div>
                    </div>
                    <div class="desc">

                        <h4>Birthday</h4>
                        <p>
                            It has been another year of life for your or your loved one and that is certainly reason to party.
                        </p>
                    </div>
                </div>

                <div class="showcase showcase--inverted">
                    <div class="desc">

                        <h4>Wedding</h4>
                        <p>
                            This wedding planning checklist will help you organize and make decisions without all the unnecessary stress.
                        </p>
                    </div>
                    <div class="thumbnail thumbnail--awesome1">
                        <div class="thumbnail__overlay">

                        </div>
                    </div>
                </div>
                <div class="showcase">
                    <div class="thumbnail thumbnail--awesome2">
                        <div class="thumbnail__overlay">

                        </div>
                    </div>
                    <div class="desc">

                        <h4>Sangeet</h4>
                        <p>
                            The Sangeet ceremony holds two or three days before the wedding, usually before the Mehndi ceremony.
                        </p>
                    </div>
                </div>
                <div class="showcase showcase--inverted">
                    <div class="desc">

                        <h4>Catering</h4>
                        <p>
                            The planning of food and drink at an event is an important process,the events success can rise of fall on the catering.
                        </p>
                    </div>
                    <div class="thumbnail thumbnail--awesome3">
                        <div class="thumbnail__overlay">

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //showcase_w3layouts -->
    @*<section class="about_agile">
            <div class="container">
                <h3 class="heading-agileinfo white-w3ls">Event Booking<span class="black-w3ls">Events is a professionally managed Event</span></h3>
                <div class="about-grids">

                    <div class="abt-rt-grid">
                        <div class="w3ls-grid-head text-center">
                            <h3>online event booking </h3>
                        </div>
                        <div class="abt-form text-center">
                            <form action="#" method="post">
                                <div class="col-sm-4 col-xs-4 w3ls-lt-form">
                                    <div class="w3ls-pr">
                                        <select class="sel" required="">
                                            <option value="">location</option>
                                            <option value="">location2</option>
                                            <option value="">location3</option>
                                            <option value="">location4</option>
                                            <option value="">location5</option>
                                        </select>
                                        <input type="text" name="Name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-4 w3ls-lt-form">
                                    <div class="w3ls-pr">
                                        <input type="date" name="date" required="required">
                                        <input type="tel" name="phone no" placeholder="Phone no" required="required">
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-4 w3ls-lt-form">
                                    <div class="w3ls-pr">
                                        <input type="time" name="time" required="required">
                                        <input type="email" name="email" placeholder="Email" required="required">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <input type="submit" value="Book Now">

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <!--testimonials-->
    @*<div class="testimonials">
        <div class="container">
            <h3 class="heading-agileinfo">Event Manager Says<span>Events is a professionally managed Event</span></h3>
            <div class="flex-slider">
                <ul id="flexiselDemo1">
                    <li>
                        <div class="laptop">
                            <div class="col-md-8 team-right">
                                <p>
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                    adipisci velit, sed quia non numquam.
                                </p>
                                <div class="name-w3ls">
                                    <h5>Federer</h5>
                                    <span>lorem ipsum</span>
                                </div>
                            </div>
                            <div class="col-md-4 team-left">
                                <img class="img-responsive" src="~/plugins/images/t1.jpg" alt=" " />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                    <li>
                        <div class="laptop">
                            <div class="col-md-8 team-right">
                                <p>
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                    adipisci velit, sed quia non numquam.
                                </p>
                                <div class="name-w3ls">
                                    <h5>Thompson</h5>
                                    <span>lorem ipsum</span>
                                </div>
                            </div>
                            <div class="col-md-4 team-left">
                                <img class="img-responsive" src="~/plugins/images/t2.jpg" alt=" " />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                </ul>

            </div>

        </div>
    </div>*@
    <!--//testimonials-->

    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <script type="text/javascript" src="~/plugins/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="~/plugins/js/responsiveslides.min.js"></script>

    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>

    <!-- start-smoth-scrolling -->
    <!-- OnScroll-Number-Increase-JavaScript -->
    <script type="text/javascript" src="~/plugins/js/numscroller-1.0.js"></script>
    <!-- //OnScroll-Number-Increase-JavaScript -->
    <!--flexiselDemo1 -->
    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 2,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 1
                    },
                    tablet: {
                        changePoint: 991,
                        visibleItems: 1
                    }
                }
            });

        });
    </script>

    <script type="text/javascript" src="~/plugins/js/jquery.flexisel.js"></script>
    <!--//flexiselDemo1 -->
    <script src="~/plugins/js/easing.js"></script>
    <script src="~/plugins/js/move-top.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/plugins/js/bootstrap.js"></script>

    <!-- //for bootstrap working -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <script src="~/plugins/js/jquery-2.2.3.min.js"></script>
    <script src="~/plugins/js/bootstrap.js"></script>
</body>