@model DataAcessLayer.ApplicationUser

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @*<meta name="description" content="Colorlib Templates">
        <meta name="author" content="Colorlib">
        <meta name="keywords" content="Colorlib Templates">*@

    <!-- Title Page-->
    @*<title>Au Register Forms by Colorlib</title>*@

    <!-- Icons font CSS-->
    <link href="~/plugins/logincss/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/plugins/logincss/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/plugins/logincss/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/plugins/logincss/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/plugins/logincss/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/plugins/logincss/vendor/select2/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/plugins/logincss/css/main.css" rel="stylesheet" />
    <link href="~/plugins/logincss/css/util.css" rel="stylesheet" />

</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
                <form class="login100-form validate-form" asp-action="Login" method="post">
                    <span class="login100-form-title p-b-55">
                        Login
                    </span>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Valid email is required: ex@abc.xyz">
                        <input asp-for="Email" class="input100" type="text" placeholder="Email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-envelope"></span>
                        </span>
                        <span asp-validation-for="Email" style="color:red"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                        <input asp-for="Password" class="input100" type="password" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-lock"></span>
                        </span>
                        <span asp-validation-for="Password" style="color:red"></span>
                    </div>

                    <div class="container-login100-form-btn p-t-25">
                        <button class="login100-form-btn" type="submit">
                            Login
                        </button>
                    </div>
                    <div class="text-center w-full p-t-115">
                        <span class="txt1">
                            <b>Not a member?</b>
                        </span>
                        <a class="txt1 bo1 hov1" href='@Url.Action("Registration","UserAccount")' style="color:Highlight">
                            Sign up now
                        </a><br />
                        <a class="txt1 bo1 hov1" href='@Url.Action("ForgotPassword","UserAccount")' style="color: Highlight">
                            Forgot Password?
                        </a>
                    </div>
                    <div class="text-center w-full p-t-115">

                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/plugins/logincss/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/plugins/logincss/vendor/bootstrap/js/popper.js"></script>
    <script src="~/plugins/logincss/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/plugins/logincss/js/main.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>
</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}