@model DataAcessLayer.ApplicationUser

@{
    ViewData["Title"] = "Registration";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    @*<title>Au Register Forms by Colorlib</title>*@

    <!-- Icons font CSS-->
    <link href="~/plugins/vendor/mdi-font/css/material-design-iconic-font.css" rel="stylesheet" />
    <link href="~/plugins/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" />

    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/plugins/css/main.css" rel="stylesheet" />

</head>
<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Registration Form</h2>
                    <form asp-action="Registration" method="post">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label asp-for="UserName">UserName</label>
                                    <input asp-for="UserName" class="input--style-4" type="text" name="UserName" required>
                                    <span asp-validation-for="UserName" style="color:red"></span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label asp-for="Password">Password</label>
                                    <input type="password" asp-for="Password" class="input--style-4" name="password" required>
                                    <span asp-validation-for="Password" style="color:red"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label asp-for="Email">Email</label>
                                    <input asp-for="Email" class="input--style-4" type="email" name="email" required>
                                    <span asp-validation-for="Email" style="color:red"></span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label asp-for="Gender">Gender</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">
                                            Male
                                            <input type="radio" checked="checked" name="Gender" value="male">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">
                                            Female
                                            <input type="radio" name="Gender" value="female">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label asp-for="ContactNo">Phone Number</label>
                                    <input asp-for="ContactNo" class="input--style-4" type="text" name="contactno" required>
                                    <span asp-validation-for="ContactNo" style="color:red"></span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label asp-for="Address">Address</label>
                                    <textarea asp-for="Address" class="input--style-4" name="address" required></textarea>
                                    <span asp-validation-for="Address" style="color:red"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label asp-for="City">City</label>
                                    <input asp-for="City" class="input--style-4" type="text" name="city" required>
                                    <span asp-validation-for="City" style="color:red"></span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label asp-for="State">State</label>
                                    <input asp-for="State" class="input--style-4" type="text" name="state" required>
                                    <span asp-validation-for="State" style="color:red"></span>
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                        </div>
                    </form><br />
                    <div class="card-footer">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <a href='@Url.Action("Login","UserAccount")'>If You have already membership?</</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="~/plugins/js/global.js"></script>
    <script src="~/plugins/vendor/jquery/jquery.min.js"></script>
</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
