@model DataAcessLayer.Food

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Edit";
}
<div class="card">
    <div class="card-header">Edit Food</div>
    <div class="card-body">
        <form asp-action="Edit" method="post">
            @Html.HiddenFor(m => m.FoodId, new { @class = "foodid" })
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label asp-for="FoodType" class="control-label"></label>
                        <input asp-for="FoodType" class="form-control" />
                        <span asp-validation-for="FoodType" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label asp-for="FoodCost" class="control-label"></label>
                        <input asp-for="FoodCost" class="form-control" />
                        <span asp-validation-for="FoodCost" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="fa-pull-right ">
                        <button type="submit" class="btn btn-primary" value="save">Save</button>
                        <a href='@Url.Action("Index","Food")' class="btn btn-danger">Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
