@model DataAcessLayer.ViewModel.EventViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Create";
}
<div class="card">
    <div class="card-header"><b>Add Event</b></div>
    <div class="card-body">
        <form asp-action="Create" method="post" , enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-6">
                    <label asp-for="EventTypes" class="control-label"></label>
                    <input asp-for="EventTypes" class="form-control" />
                    <span asp-validation-for="EventTypes" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label asp-for="Images" class="control-label"></label>
                            <input asp-for="Images" class="form-control" />
                            <span asp-validation-for="Images" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <div class="fa-pull-right ">
                        <button type="submit" class="btn btn-primary" value="Create">Save</button>
                        <a href='@Url.Action("Index","EventList")' class="btn btn-danger">Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



