@model DataAcessLayer.ViewModel.EventViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Edit";
}
<div class="card">
    <div class="card-header"><b>Edit Event</b></div>
    <div class="card-body">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-12">
                    <label asp-for="EventTypes" class="control-label"></label>
                    <input asp-for="EventTypes" class="form-control" />
                    <span asp-validation-for="EventTypes" class="text-danger"></span>
                </div>
                <div class="col-sm-12">
                    <label asp-for="EventCost" class="control-label"></label>
                    <input asp-for="EventCost" class="form-control" />
                    <span asp-validation-for="EventCost" class="text-danger"></span>
                </div>
                <div class="card-footer ">
                    <div class="fa-pull-right ">
                        <span><button type="submit" class="btn btn-primary" value="Create">Save</button></span>
                        <span>
                            <button class="btn btn-dark" asp-action="UpdateImages" asp-route-Eventid="@Model.Id">Update Images</button>
                        </span>
                        <span>
                            <a href='@Url.Action("Index","EventList")' class="btn btn-danger">Close</a>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



