@model DataAcessLayer.Equipment
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Create";
}
<div class="card">
    <div class="card-header"><b>Add Equipment</b></div>
    <div class="card-body">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label asp-for="EquipmentType" class="control-label"></label>
                        <input asp-for="EquipmentType" class="form-control" />
                        <span asp-validation-for="EquipmentType" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label asp-for="EquipmentCost" class="control-label"></label>
                        <input asp-for="EquipmentCost" class="form-control" />
                        <span asp-validation-for="EquipmentCost" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer ">
                    <div class="fa-pull-right ">
                        <button type="submit" class="btn btn-primary" value="save">Save</button>
                        <a href='@Url.Action("Index","Equipment")' class="btn btn-danger">Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




