@model DataAcessLayer.ViewModel.BookingViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var data = ViewBag.type;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Online Booking</title>
    @*<script src="~/plugins/js/jquery-2.2.3.min.js"></script>
    <script src="~/plugins/js/bootstrap.js"></script>*@
</head>
<body>
    <section class="about_agile">
        <div class="container">
            <h3 class="heading-agileinfo white-w3ls">Event Booking<span class="black-w3ls">Events is a professionally managed Event</span></h3>
            <div class="about-grids">
                <div class="abt-rt-grid">
                    <div class="w3ls-grid-head text-center">
                        <h3>online event booking </h3>
                    </div>
                    <div class="abt-form">
                        <form asp-action="InsertBooking" asp-controller="Booking" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" style="padding-left:2em"></div>
                            <div class="col-sm-6 col-xs-6 w3ls-lt-form">
                                <div class="w3ls-pr">
                                    <label>Event Name</label>
                                    <select class="sel" name="TypeName" style="font-weight: 700; font-size: 14px; color: black">
                                        <option value="">--Select Event Type--</option>
                                        @foreach (var item in data)
                                        {
                                            <option value="@item.Id" style="font-weight: 700; font-size: 14px; color: black"> @item.EventTypes</option>
                                        }
                                    </select>
                                    <span asp-validation-for="Id"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 w3ls-lt-form">
                                <div class="w3ls-pr">
                                    <label asp-for="Address">Address</label>
                                    <input asp-for="Address" type="text" name="Address" placeholder="Address" value="" style="font-weight: 700; font-size: 14px; color: black">
                                    <span asp-validation-for="Address"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 w3ls-lt-form">
                                <div class="w3ls-pr">
                                    <label asp-for="FromDate">From Date</label>
                                    <input asp-for="FromDate" type="date"  value="" style="font-weight: 700; font-size: 14px; color: black" required>
                                    <span asp-validation-for="FromDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 w3ls-lt-form">
                                <div class="w3ls-pr">
                                    <label asp-for="ToDate">To Date</label>
                                    <input asp-for="ToDate" type="date" required value="" style="font-weight: 700; font-size: 14px; color: black">
                                    <span asp-validation-for="ToDate"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 w3ls-lt-form">
                                <div class="w3ls-pr">
                                    <label asp-for="EventTime">Event Time</label>
                                    <input asp-for="EventTime" type="time" name="EventTime" value="" style="font-weight: 700; font-size: 14px; color: black" required>
                                    <span asp-validation-for="EventTime" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 w3ls-lt-form">
                                <div class="w3ls-pr">
                                    <label >PinCode</label>
                                    <input asp-for="AreapinCode" name="AreapinCode" type="text" placeholder="pincode" required value="" style="font-weight: 700; font-size: 14px; color: black">
                                    <span asp-validation-for="AreapinCode"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 w3ls-lt-form">
                                <div class="w3ls-pr">
                                    <label asp-for="VenueType">Venu Type</label>
                                    <select class="sel" required asp-for="VenueType" style="font-weight: 700; font-size: 14px; color: black">
                                        <option value="" style="font-weight: 700; font-size: 14px; color: black">Venue Type</option>
                                        <option value="Hall" style="font-weight: 700; font-size: 14px; color: black">Hall</option>
                                        <option value="OutDoor" style="font-weight: 700; font-size: 14px; color: black">OutDoor</option>
                                        <option value="Open terrace" style="font-weight: 700; font-size: 14px; color: black">Open terrace</option>
                                        <option value="Lake Terrace" style="font-weight: 700; font-size: 14px; color: black">Lake Terrace</option>
                                        <option value="The Village Venue" style="font-weight: 700; font-size: 14px; color: black">The Village Venue</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 w3ls-lt-form">
                                <div class="w3ls-pr">
                                    <label asp-for="NumberOfPerson">NumberOfPerson</label>
                                    <input asp-for="NumberOfPerson" type="text" name="NumberOfPerson" placeholder="NumberOfPerson" style="font-weight: 700; font-size: 14px; color: black" value="" required>
                                    <span asp-validation-for="NumberOfPerson"></span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="text-center"><input type="submit" id="book" value="Book Now"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/plugins/js/jquery-2.2.3.min.js"></script>
    <script src="~/plugins/js/bootstrap.js"></script>
    <script>
        $(document).on('invalid-form.validate', 'form', function () {
            var button = $(this).find(':submit');
            setTimeout(function () {
                button.removeAttr('disabled');
            }, 1);
        });
        $(document).on('submit', 'form', function () {
            var button = $(this).find(':submit');
            setTimeout(function () {
                button.attr('disabled', 'disabled');
            }, 0);
        });
    </script>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}