@model DataAcessLayer.ViewModel.BookingViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var data = ViewBag.type;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Online Booking</title>
    <script src="~/plugins/js/jquery-2.2.3.min.js"></script>
    <script src="~/plugins/js/bootstrap.js"></script>
</head>
<body>
    <section class="about_agile">
        <div class="container">
            <h3 class="heading-agileinfo white-w3ls">Event Booking<span class="black-w3ls">Events is a professionally managed Event</span></h3>
            <div class="about-grids">

                <div class="abt-rt-grid">
                    <div class="w3ls-grid-head text-center">
                        <h3>online event booking </h3>
                    </div>
                    <div class="abt-form text-center">
                        <form asp-action="InsertBooking" asp-controller="Booking" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-sm-4 col-xs-4 w3ls-lt-form">
                                <div class="w3ls-pr">
                                    <select class="sel" name="TypeName">
                                        <option value="">--Select--</option>
                                        @foreach (var item in data)
                                        {
                                            <option value="@item.Id"> @item.EventTypes</option>
                                        }
                                    </select>
                                    <input asp-for="Address" type="text" name="Address" placeholder="Address" value="">
                                    <span asp-validation-for="Address" style="color:red"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-4 w3ls-lt-form">
                                <div class="w3ls-pr">
                                    <input asp-for="EventDate" type="date" name="date" value="" required="required">
                                    <span asp-validation-for="EventDate" class="text-danger"></span>
                                    <input asp-for="AreapinCode" name="Areapincode" type="text" placeholder="pincode" required="required" value="">
                                    <span asp-validation-for="AreapinCode" style="color:red"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-4 w3ls-lt-form">
                                <div class="w3ls-pr">
                                    <select class="sel" required="" asp-for="VenuType">
                                        <option value="">Venue Type</option>
                                        <option value="Hall">Hall</option>
                                        <option value="OutDoor">OutDoor</option>
                                        <option value="Open terrace">Open terrace</option>
                                        <option value="Lake Terrace">Lake Terrace</option>
                                        <option value="The Village Venue">The Village Venue</option>
                                    </select>
                                    <input asp-for="NumberOfPerson" type="text" name="NumberOfPerson" placeholder="NumberOfPerson" value="" required="required">
                                    <span asp-validation-for="NumberOfPerson" style="color:red"></span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-xs-12 w3ls-lt-form">
                                <div class="w3ls-pr">
                                    <input asp-for="NumberOfDays" type="text" name="NumberOfDays" placeholder="NumberOfDays" value="" required="required">
                                    <span asp-validation-for="NumberOfDays" style="color:red"></span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <input type="submit" value="Book Now">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}