@model IEnumerable<DataAcessLayer.Flower>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ShowFlower";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyBooking</title>
    <link href="~/plugins/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/plugins/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/plugins/css/font-awesome.css" rel="stylesheet">		<!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="~/plugins/js/jquery-2.2.3.min.js"></script>
    <script src="~/plugins/js/bootstrap.js"></script>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="text-left">
        <a asp-action="Index" class="btn fa fa-arrow-circle-left" style="background-color:deeppink;border-radius:100px"></a>
    </div>
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-4">
                <div class="card" style="background-color:ghostwhite">
                    <div class="card-body text-center">
                        <table class="table" id="table_id">
                            <tbody>
                                <tr>
                                    <td style="font-weight:700;font-size:14px;color:black" class="text-center">
                                        @Html.DisplayFor(modelItem => item.FlowerType)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <img src="~/FlowerImages/@item.FlowerImage" height="200" width="200" asp-append-version="true" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        }
    </div>
</body>
</html>